img.Carousel{
		height:1000px;
		width:1500px;
	}

h2.Binge{
	text-align: center;
}

h3.title{
	text-align: center;
}

*{
	font-family: 'GT Walsheim', serif;
}

li{
	font-size: 18px;
}

p{
	font-size: 17px;
}

hr{
	padding-top: 22px;
	padding-bottom: 22px;
}

img.GoodPt{
	padding-left: 80px;
}